* { box-sizing: border-box; }

html {
	background-color: #2a1215;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	color: white;
}
.help_flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.help_flex img {
	width: 100%;

}

.help_flex a {
	color: white;
	font-style: italic;
}

.help_flex a:hover {
	font-style: normal;
}

.info {
	padding: 2rem;
	text-align: left;
}


.info h1 {
	text-align: center;
	font-size: 4rem;
}

.info p {
	font-size: 1.3rem;
}

